[submodule "docs/home_nmap"]
	path = docs/home_nmap
	url = https://github.com/josevnz/home_nmap.git
[submodule "docs/kismet_home"]
	path = docs/kismet_home
	url = https://github.com/josevnz/kismet_home.git
[submodule "docs/BashError"]
	path = docs/BashError
	url = https://github.com/josevnz/BashError.git
[submodule "docs/InteractiveBashScript"]
	path = docs/InteractiveBashScript
	url = https://github.com/josevnz/InteractiveBashScript.git
[submodule "docs/DatesAndComplexInBash"]
	path = docs/DatesAndComplexInBash
	url = https://github.com/josevnz/DatesAndComplexInBash.git
[submodule "docs/BashResources"]
	path = docs/BashResources
	url = https://github.com/josevnz/BashResources.git
[submodule "docs/rpm_query"]
	path = docs/rpm_query
	url = https://github.com/josevnz/rpm_query.git
[submodule "docs/EnableSysadminRssReader"]
	path = docs/EnableSysadminRssReader
	url = https://github.com/josevnz/EnableSysadminRssReader.git
[submodule "docs/ExtendingAnsibleWithPython"]
	path = docs/ExtendingAnsibleWithPython
	url = https://github.com/josevnz/ExtendingAnsibleWithPython.git
[submodule "docs/insecure_protocol_tutorial"]
	path = docs/insecure_protocol_tutorial
	url = https://github.com/josevnz/insecure_protocol_tutorial.git
[submodule "docs/influxdb_intro"]
	path = docs/influxdb_intro
	url = https://github.com/josevnz/influxdb_intro.git
[submodule "docs/influxdb_datasets"]
	path = docs/influxdb_datasets
	url = https://github.com/josevnz/influxdb_datasets.git
[submodule "docs/OracleCloudHomeLab"]
	path = docs/OracleCloudHomeLab
	url = https://github.com/josevnz/OracleCloudHomeLab.git
[submodule "docs/SuricataLog"]
	path = docs/SuricataLog
	url = https://github.com/josevnz/SuricataLog.git
[submodule "docs/yafd"]
	path = docs/yafd
	url = https://github.com/josevnz/yafd.git
[submodule "docs/nyrr"]
	path = docs/nyrr
	url = https://github.com/josevnz/nyrr.git
[submodule "docs/Nexus3OnOrangePI"]
	path = docs/Nexus3OnOrangePI
	url = https://github.com/josevnz/Nexus3OnOrangePI.git
[submodule "docs/StopUsingTelnetToTestPorts"]
	path = docs/StopUsingTelnetToTestPorts
	url = https://github.com/josevnz/StopUsingTelnetToTestPorts.git
[submodule "docs/BashHere"]
	path = docs/BashHere
	url = https://github.com/josevnz/BashHere.git
[submodule "docs/DebuggingApplications"]
	path = docs/DebuggingApplications
	url = https://github.com/josevnz/DebuggingApplications.git
[submodule "docs/Covid19Informer"]
	path = docs/Covid19Informer
	url = https://github.com/josevnz/Covid19Informer.git
[submodule "docs/Falco"]
	path = docs/Falco
	url = https://github.com/josevnz/Falco.git
[submodule "docs/linktester"]
	path = docs/linktester
	url = https://github.com/josevnz/linktester.git
[submodule "docs/CommandLineTipsAndTricks"]
	path = docs/CommandLineTipsAndTricks
	url = https://github.com/josevnz/CommandLineTipsAndTricks.git
