LogScreen {
        layout: vertical;
}

RichLog {
        width: 100%;
        height: auto;
}

Button {
        dock: bottom;
        width: 100%;
        height: auto;
}

Label {
        dock: top;
        width: 100%;
        height: auto;
        align: center top;
}