Screen {
    layout: grid;
    grid-size: 3;

}

DataTable {
        height: 1fr;
        border: solid green;
}

Header {
        height: 3;
        dock: top;
}

Footer {
        height: 1;
        dock: bottom;
}